@font-face {
    font-family: Gameplay;
    src: url(./fonts/Gameplay.woff);
  }

  @font-face {
    font-family: Pixy;
    src: url(./fonts/PIXY.woff);
  }

  @font-face {
    font-family: SmallPixel;
    src: url(./fonts/SmallPixel.woff);
  }


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    
    
}

@media (min-width:768px) {
    h1 {
        font-size: 4vw;
    }

    h2, h3 {
        font-size: 2.5vw;
    }
}
@media (min-width:1024px) {
    h1 {
        font-size: 5vw;
    }
    h2, h3 {
        font-size: 3vw;
    }
}
@media (min-width:1280px) {
    h1 {
        font-size: 6vw;
    }
    h2, h3 {
        font-size: 3vw;
    }
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background-color: #030017 ;
    color: white; 
    height: 100%;
    /* max-width: 960px; */

}

header {
    place-items: center;
    width: 100vw;
    justify-content: space-evenly;
}

nav {
    text-align: center;
   
}

a {
    color: white; 
    text-decoration: none;
    font-family: Pixy, sans-serif ;
    font-size: clamp(1em, 4vw, 3em);
}

a:hover {
    color:#3DF2F2;
}

a:first-of-type:hover::after {
    content: "  < ";
}

a:first-of-type:hover::before {
    content: ">  ";
}

a:focus {
    color:#3DF2F2;
    outline: none;
}

a:first-of-type:focus::after {
    content: "  < ";
}

a:first-of-type:focus::before {
    content: ">  ";
}

h1 {
    position: relative;
    font-family: Gameplay, sans-serif;
    color: #3DF2F2;
    text-shadow: -10px 10px #1455D9 ;
    font-size: clamp(3em, 5vw, 12em);;
}


h2, h3 {
    font-family: SmallPixel, sans-serif;
    margin: 0.5em;
}

h3 {
    color:rgb(255, 255, 0);
}

ul {
    list-style: none;
    padding: 0;
  
}

#titel {
    position: absolute;
    display: contents;
}



.typewriter h2 {
    width: 100%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .3em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em;  */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    70% { border-color: white }
  }
  

 


